{% extends 'base.html' %}
{% block title %}详情{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <!--主-->
            <div class="my-4 p-4 bg-white rounded box-shadow">
                <!--标题-->
                <h3 class="border-bottom border-gray pb-2 mb-0"><strong>{{ todo.title}}</strong></h3>
                <!--基本信息-->
                <div class="media text-muted pt-3">
                    <img alt="user" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/person.svg')}}" data-holder-rendered="true">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                        <strong class="d-block text-dark font-italic">@{{ todo.author.username }}</strong>
                        {{todo.content}}

                        <small class="d-block text-right mt-3">
                            <a href="/">返回首页</a>
                        </small>
                    </p>
                </div>

                {% if todo.complete %}
                <!--已经完成的-->
                <div>
                    <!--完成时间-->
                    <div class="media pt-3">
                        <img alt="complete" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/issue-closed.svg')}}" data-holder-rendered="true">
                        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray text-info">
                            完成时间：{{todo.complete_time}}
                        </p>
                    </div>
                    <!--创建时间-->
                    <div class="media pt-3">
                        <img alt="begin" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/info.svg')}}" data-holder-rendered="true">
                        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray text-info">
                            创建时间：{{todo.begin}}
                        </p>
                    </div>
                </div>

                {% elif todo.end %}
                <!--有截止时间的-->
                <div>
                    <!--进度条-->
                    <p class="pb-3 mb-0 border-bottom border-gray"></p>
                    <div class="progress">
                        <div class="progress-bar {% if todo.end|time_clc < 0 %}bg-danger {% endif %}"
                             role="progressbar"
                             aria-valuenow="{{todo.begin|progress(todo.end)}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{todo.begin|progress(todo.end)}}%">
                            {% if todo.end|time_clc < 0 %}
                            !已过期!
                            {% else %}
                            还有{{todo.end|time_clc}}天
                            {% endif %}
                        </div>
                    </div>

                    <!--分割1-->
                    <p class="pb-3 mb-0 border-bottom border-gray"></p>

                    <!--创建时间-->
                    <div class="media pt-3">
                        <img alt="begin" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/info.svg')}}" data-holder-rendered="true">
                        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray text-info">
                            创建时间：{{todo.begin}}
                        </p>
                    </div>
                    <!--截止时间-->
                    <div class="media pt-3">
                        <img alt="end" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/issue-opened.svg')}}" data-holder-rendered="true">
                        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray text-info">
                            截止时间：{{todo.end}}
                        </p>
                    </div>
                </div>

                {% else %}
                <!--没有截止时间的-->
                <div>
                    <!--创建时间-->
                    <div class="media pt-3">
                        <img alt="begin" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/info.svg')}}" data-holder-rendered="true">
                        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray text-info">
                            创建时间：{{todo.begin}}
                        </p>
                    </div>
                    <div class="media pt-3">
                        <img alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{url_for('static',filename='svg/calendar.svg')}}" data-holder-rendered="true">
                        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray text-info">
                            已建立todo：{{ todo.begin|time_clc|abs }}天
                        </p>
                    </div>
                </div>
                {% endif %}

                <!--两个按钮-->
                <div style="height:38px;margin-top:8px;">
                    <form action="" method="post">
                        {% if todo.complete==0 %}
                        <button type="submit" class="btn btn-success" name="finish" value="finish" style="float:right;margin:5px 10px;">完成</button>
                        {% endif %}
                        <button type="submit" class="btn btn-danger" name="delete" value="delete" style="float:right;margin:5px 10px;">删除</button>
                    </form>
                </div>
            </div><!--主-->
        </div>
    </div>
    <div class="col-2"></div>
</div>
</div>
{% endblock %}